PSQL_DSN=postgresql://methena:1234@localhost:5432/methena

SCHEMA_CCXT_OHLCV=ccxt_ohlcv
SCHEMA_METHENA=ccxt_ohlcv

OHLCV_DB_STATE=True
# relative to main.py
OHLCV_CONFIG_FILE='ohlcv_config.json'

MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_TOPIC_CCXT_OHLCV=ccxt/ohlcv/#
