PSQL_DSN=postgresql://methena:1234@localhost:5432/methena

SCHEMA=ccxt_ohlcv

# relative to main.py
OHLCV_CONFIG_FILE='ohlcv_config.json'

MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_TOPIC_CCXT_OHLCV=ccxt/ohlcv/#